In [1]:
import pandas as pd, numpy as np
pd.__version__

'2.3.3'

In [2]:
url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv"
df = pd.read_csv(url)
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [3]:
len(df)

9704

In [4]:
df['fuel_type'].nunique()

2

In [5]:
df.isna().any().sum()

np.int64(4)

In [6]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [10]:
median_before = df['horsepower'].median() 
most_freq = df['horsepower'].mode().iloc[0]
median_after = df['horsepower'].fillna(most_freq).median()

In [8]:
print(median_before)
print(most_freq)
print(median_after)

149.0
152.0
152.0

In [9]:
X = df[df['origin'] == 'Asia'][['vehicle_weight','model_year']].head(7).to_numpy()
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
w = XTX_inv @ X.T @ y
w.sum()

np.float64(0.5187709081074016)