In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Q1 Get pandas Version
pd.__version__

'2.3.2'

In [6]:
#GET DATASET
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [ ]:
# Q2. Records count through shape attribute of the dataframe column 0.
df.shape[0]
#There are 9704 records in the dataset.
#confirmed by len(df)
len(df)

9704

In [ ]:
# Q3. Fuel types
#here i will use .unique() method to get the unique values in the fuel column so that i can achieve the answer to "how many fuel types are in hte dataset".
#get col_names
df.columns
#target column is named 'fuel_type'
#now get number(count ) of unique values in the fuel_type column using .nunique() method
df['fuel_type'].nunique()
print("There are : ", df['fuel_type'].nunique(), "fuel types in the dataset")

there are :  2 fuel types in the dataset

In [ ]:
# Q4. Missing values
# How many columns in the dataset have missing values?
from operator import gt

num_missing_cols = df.isnull().sum().gt(0).sum()
print("There are:", num_missing_cols, "columns with missing values")
# df.isnull().sum() counts missing values for each column.

# .gt(0)  turns those counts into True/False (True if value is missing).

# .sum()  sums the Trues which is the number of columns with missing values.

There are: 4 columns with missing values

In [36]:
# Q5. Max fuel efficiency
# What's the maximum fuel efficiency of cars from Asia?
#get col names and country name spelling right
df.columns
df.origin.unique()
# target column is 'fuel_efficiency_mpg' and origin column is 'origin'
max_asia = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
print("The maximum fuel efficiency of cars from Asia is:", max_asia)
#round max_Asia to 2 decimal places
rounded_asia_max = round(max_asia, 2)
print(rounded_asia_max)

The maximum fuel efficiency of cars from Asia is: 23.759122836520497
23.76

In [39]:
# Q6. Median value of horsepower
# 1. Find the median value of horsepower column in the dataset.
median_hp = df['horsepower'].median()
print("The median value of horsepower column in the dataset is:", median_hp)

# 2. Next, calculate the most frequent value of the same horsepower column.== mode
mode_hp = df['horsepower'].mode()[0]
print("The most frequent value of the horsepower column in the dataset is:", mode_hp)
# 3. Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
df['horsepower'].fillna(mode_hp, inplace=True)
# 4. Now, calculate the median value of horsepower once again.
new_median_hp = df['horsepower'].median()
print("The new median value of horsepower column in the dataset is:", new_median_hp)

The median value of horsepower column in the dataset is: 152.0
The most frequent value of the horsepower column in the dataset is: 152.0
The new median value of horsepower column in the dataset is: 152.0

C:\Users\GK111\AppData\Local\Temp\ipykernel_7352\2634807815.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horsepower'].fillna(mode_hp, inplace=True)

In [40]:
# Q7. Sum of weights
# 1. Select all the cars from Asia
asia_cars = df[df['origin'] == 'Asia']
# 2. Select only columns vehicle_weight and model_year
asia_cars = asia_cars[['vehicle_weight', 'model_year']]
# 3. Select the first 7 values
asia_cars = asia_cars.head(7)
# Get the underlying NumPy array. Let's call it X.
X = asia_cars.to_numpy()
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = X.T.dot(X)
# Invert XTX.
XTX_inv = np.linalg.pinv(XTX)
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = XTX_inv.dot(X.T).dot(y)
# What's the sum of all the elements of the result?
sum_w = w.sum()
print("The sum of all the elements of the result is:", sum_w)

The sum of all the elements of the result is: 0.5187709081074039


##### happy days