In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

Pandas Version

In [3]:
print(pd.__version__)

2.3.1

Records count

In [4]:
len(df)

9704

How many fuel types are presented in the dataset?

In [6]:
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

How many columns in the dataset have missing values?

(df.isnull().sum() > 0).sum()

What's the maximum fuel efficiency of cars from Asia?

In [8]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

Find the median value of the horsepower column:

In [9]:
median_horsepower_raw = df['horsepower'].median()
print(f"Median of horsepower with existing datasets: {median_horsepower_raw}")

Median of horsepower with existing datasets: 149.0

calculate the most frequent value of the same horsepower column

In [10]:
most_frequent_horsepower = df['horsepower'].mode()[0]
print(f"Most frequent value of horsepower: {most_frequent_horsepower}")

Most frequent value of horsepower: 152.0

Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step

In [11]:
df['horsepower'] = df['horsepower'].fillna(most_frequent_horsepower)

calculate the median value of horsepower once again

In [13]:
median_horsepower_after_replacing_null = df['horsepower'].median()
print(f"Median of horsepower after replacement: {median_horsepower_after_replacing_null}")

Median of horsepower after replacement: 152.0

Select all the cars from Asia

In [14]:
asia_cars = df[df['origin'] == 'Asia']

Select only the columns vehicle_weight and model_year:

In [15]:
asia_cars = asia_cars[['vehicle_weight', 'model_year']]

Select the first 7 rows

In [16]:
X = asia_cars.head(7).values

Compute matrix-matrix multiplication between the transpose of X and X (i.e., XTX):

In [17]:
import numpy as np

XTX = np.dot(X.T, X)

Invert XTX

In [18]:
XTX_inv = np.linalg.inv(XTX)

Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200]

In [19]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

In [20]:
w = np.dot(np.dot(XTX_inv, X.T), y)

What's the sum of all the elements of the result?

In [21]:
w.sum()

np.float64(0.5187709081074016)